# Importing Libraries

In [75]:
# Importing Libraries
import selenium
import pandas as pd
import time

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

#import warnings to avoid warnings 
import warnings
warnings.filterwarnings('ignore')
# importing regex
import re

from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.


Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:


A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [42]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)


#Access the website
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(3)


# creating empty dictionary
Most_Viewed = {}
Most_Viewed['Rank'] = []
Most_Viewed['Name'] = []
Most_Viewed['Artist'] = []
Most_Viewed['Upload_date'] = []
Most_Viewed['Views'] = []
time.sleep(3)


a = 1 #counter value


# Scraping the all data
for i in range(0,30):
    time.sleep(3)
    
    try:
        #rank
        rank = driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[1]".format(a))
        Most_Viewed['Rank'].append(rank.text)
        time.sleep(2)
            
        #name
        name = driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[2]".format(a))
        Most_Viewed['Name'].append(name.text)
        time.sleep(2)
        
        #artist
        artist = driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[3]".format(a))
        Most_Viewed['Artist'].append(artist.text)
        time.sleep(2)
    
        #upload_date
        uploadDate = driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[5]".format(a))
        Most_Viewed['Upload_date'].append(uploadDate.text)
        time.sleep(2)
    
        #views
        view = driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[4]".format(a))
        Most_Viewed['Views'].append(view.text)
        time.sleep(2)
    except NoSuchElementException as n:
        print("Exception",n)
   
    # incresing counter variable
    a += 1


Most_Viewed = pd.DataFrame(Most_Viewed)
Most_Viewed

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.95
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.90
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.39
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.76
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.57
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.51
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.72
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.63
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.59
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.48
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.20
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.98
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.72
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.61
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.61
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.56
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.47
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.42
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.31
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.31
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.30
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.29
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.26
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.23
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.23
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.20
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.19
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.19
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.10

# 2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.

You need to find following details:

    
A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

In [104]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# Opening the bcci.tv
url = "https://www.bcci.tv/"
driver.get(url)

#click on international
international=driver.find_element_by_xpath("/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
international.click()

# click on fixtures
fixtures= driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/ul/li[1]/a")
fixtures.click()

url=('https://www.bcci.tv/international/fixtures')
driver.get(url)

Matchtitle=[] 
Series=[] 
Place=[]
Date=[]
time=[]

Matchtitles=driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")
for i in Matchtitles:
    Matchtitle.append(i.text)

match_Series=driver.find_elements_by_xpath("//span[@class='ng-binding']")
for i in match_Series:
    Series.append(i.text)

Places=driver.find_elements_by_xpath("//span[@class='ng-binding ng-scope']")
for i in Places:
    Place.append(i.text)

times=driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
for i in times:
    time.append(i.text)

dates=driver.find_elements_by_xpath("//h5[@class='ng-binding']")
for i in dates:
    Date.append(i.text)

fixtures=pd.DataFrame({})
fixtures['MATCH TITLE']=Matchtitle[:7]
fixtures['SERIES']=Series[:7] 
fixtures['PLACE']=Place[:7]
fixtures['DATE']=Date[:7]
fixtures['TIME']=time[:7]
fixtures

,MATCH TITLE,SERIES,PLACE,DATE,TIME
0,3rd ODI -,INDIA TOUR OF ENGLAND ODI SERIES 2022,(20.1 ov),17 JUL 2022,7:00 PM IST
1,1st ODI -,India won the Toss and elected to Field,"Old Trafford,",22 JUL 2022,7:00 PM IST
2,2nd ODI -,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval,",24 JUL 2022,7:00 PM IST
3,3rd ODI -,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval,",27 JUL 2022,8:00 PM IST
4,1st T20I -,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval,",29 JUL 2022,8:00 PM IST
5,2nd T20I -,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Brian Lara Stadium,",1 AUG 2022,8:00 PM IST
6,3rd T20I -,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park,",2 AUG 2022,8:00 PM IST

# 3.Scrape the details of selenium exception from guru99.com. 
   Url = https://www.guru99.com/


You need to find following details:

A) Name


B) Description

In [41]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.guru99.com/"
driver.get(url)
time.sleep(6)
driver.maximize_window()
time.sleep(3)

#clicking on testing 
Testing=driver.find_element_by_xpath("//li[@id='menu-item-3173']")
Testing.click()

# clicking on slelenium tutorial 
selenium= driver.find_element_by_xpath("//li[@id='menu-item-4622']")
selenium.click()

# Scroling page by elements name
time.sleep(4)
element = driver.find_element_by_xpath("//div[@class='entry-content single-content']/table[5]/tbody/tr[34]")
driver.execute_script("return arguments[0].scrollIntoView();", element)

#clicking on Tutotial
Tutotial= driver.find_element_by_xpath("//*[@id='post-193']/div/div/table[5]/tbody/tr[34]/td[1]/a")
Tutotial.click()

#Creating Emplty list
Name=[]
Description=[]

#Scrapign Name
name= driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)
    
#Scraping  Description   
description=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]") 
for i in description:
    Description.append(i.text)
    
driver.close()
    
# Creating dataFrame
exception_list= pd.DataFrame({})
exception_list['Name']= Name
exception_list['Description']= Description
exception_list

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
   Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

In [121]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(4)
driver.maximize_window()
time.sleep(5)

#Click Economy
Economy=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
Economy.click()
time.sleep(4)

#Click India
India= driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
India.click()
time.sleep(5)

#Click on India GPD
GDP=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP.click()
time.sleep(5)

#Creating empty list
Rank=[]
State=[]
GSDP_at_current_price_19_20=[]
GSDP_at_current_price_18_19=[]
Share_18_19=[]
GDP_billion=[]

#Scraping Rank
rank= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
for i in rank:
    if i.text is None:
        Rank.append('--')
    else:
        Rank.append(i.text)
        
#Scraping State
state= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
for i in state:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)
                
#Scraping GSDP_at_current_price_19_20
gSDP_at_current_price_19_20= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
for i in gSDP_at_current_price_19_20:
    if i.text is None:
        GSDP_at_current_price_19_20.append('--')
    else:
        GSDP_at_current_price_19_20.append(i.text)
        
#Scraping GSDP_at_current_price_18_19
gSDP_at_current_price_18_19= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
for i in gSDP_at_current_price_18_19:
    if i.text is None:
        GSDP_at_current_price_18_19.append('--')
    else:
        GSDP_at_current_price_18_19.append(i.text)
        
#Scraping Share_18_19
share_18_19= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
for i in share_18_19:
    if i.text is None:
        Share_18_19.append('--')
    else:
        Share_18_19.append(i.text)
        
#Scraping GDP_billion
gDP_billion= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
for i in gDP_billion:
    if i.text is None:
        GDP_billion.append('--')
    else:
        GDP_billion.append(i.text)

driver.close()
        
# creating dataframe
GDP_India=pd.DataFrame({})
GDP_India['Rank']=Rank
GDP_India['State']=State
GDP_India['GSDP_at_current_price_19_20']=GSDP_at_current_price_19_20
GDP_India['GSDP_at_current_price_18_19']=GSDP_at_current_price_18_19
GDP_India['Share_18_19']=Share_18_19
GDP_India['GDP_billion']=GDP_billion
GDP_India

,Rank,State,GSDP_at_current_price_19_20,GSDP_at_current_price_18_19,Share_18_19,GDP_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [176]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://github.com/ "
driver.get(url)
time.sleep(4)
driver.maximize_window()
time.sleep(5)

Explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
Explore.click()

Treading=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
Treading.click()
time.sleep(6)

In [179]:
# Empty list
Repository = []
Repository_des = []
Contributors = []
Language = []

try: # Scraping repository
    for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
        Repository.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping Repository description
    for i in driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']"):
        Repository_des.append(i.text)
except NoSuchElementException as e:
    print("-")   
    
try: # Scraping Contributors count
    for i in driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/a[2]"):
        Contributors.append(i.text)
except NoSuchElementException as e:
    print("-") 
    
try: # Scraping language
    for i in driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']"):
        Language.append(i.text)
except NoSuchElementException as e:
    print("-")
    
print(len(Language),len(Repository ),len(Repository_des),len(Contributors))

In [185]:
# Creating data frame 
github = pd.DataFrame({})
github["Repository title"]=Repository[:18]
github["Repository description"]=Repository_des[:18]
github["Contributors count"]= Contributors[:18]
github["Language used"]=Language[:18]
github

,Repository title,Repository description,Contributors count,Language used
0,trpc / trpc,🧙‍♀️ Move Fast and Break Nothing. End-to-end t...,270,TypeScript
1,srush / GPU-Puzzles,Solve puzzles. Learn CUDA.,45,Jupyter Notebook
2,apache / shardingsphere,Ecosystem to transform any database into a dis...,"5,750",Java
3,Shopify / sarama,Sarama is a Go library for Apache Kafka.,"1,518",Go
4,microsoft / sbom-tool,The SBOM tool is a highly scalable and enterpr...,22,C#
5,hashicorp / nomad,"Nomad is an easy-to-use, flexible, and perform...","1,607",Go
6,macrozheng / springcloud-learning,一套涵盖大部分核心组件使用的Spring Cloud教程，包括Spring Cloud Al...,"2,343",Java
7,vasanthk / how-web-works,What happens behind the scenes when we type ww...,836,C++
8,hackerhouse-opensource / iscsicpl_bypassUAC,UAC bypass for x64 Windows 7 - 11,40,Rust
9,near / stakewars-iii,Stake Wars: Episode 3 challenges and place to ...,17,Python
10,quickwit-oss / tantivy,Tantivy is a full-text search engine library i...,399,PowerShell
11,unifyai / ivy,The Unified Machine Learning Framework,"1,035",Python
12,amd64fox / SpotX,Blocking ads and updates for the desktop versi...,63,JavaScript
13,dair-ai / ML-YouTube-Courses,📺 A place to discover the latest machine learn...,872,Objective-C
14,tiangolo / fastapi,"FastAPI framework, high performance, easy to l...","3,715",TypeScript
15,github / docs,The open-source repo for docs.github.com,"55,670",C
16,firebase / firebase-ios-sdk,Firebase iOS SDK,"1,077",TypeScript
17,vuejs / vue,"🖖 Vue.js is a progressive, incrementally-adopt...","32,485",TypeScript

# 6. Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

In [188]:
driver = webdriver.Chrome("chromedriver.exe")
url =  "https://www.billboard.com/charts/hot-100"
driver.get(url)

Song_Name =[]
Singer=[]
rank=[]
Last_Week=[]
Weeks_on_board=[]

#scraping the Song_Name 
son=driver.find_elements_by_xpath("//li[@Class='lrv-u-width-100p']")
for i in son:
    if i.text is None :
        Song_Name.append("--") 
        Singer.append("--") 
        rank.append("--") 
        Last_Week.append("--") 
        Weeks_on_board.append("--") 
    else:
        Song_Name.append(i.text.split('\n')[0])
        Singer.append(i.text.split('\n')[1])
        rank.append(i.text.split('\n')[2])
        Last_Week.append(i.text.split('\n')[3])
        Weeks_on_board.append(i.text.split('\n')[4])


BillBOARD_TOP100=pd.DataFrame([])
BillBOARD_TOP100['SONG NAME']=Song_Name
BillBOARD_TOP100['PEAK RANK']=rank
BillBOARD_TOP100['ARTIST NAME']=Singer
BillBOARD_TOP100['LAST WEEK RANK']=Last_Week
BillBOARD_TOP100['WEEKS ON BOARD']=Weeks_on_board

BillBOARD_TOP100

,SONG NAME,PEAK RANK,ARTIST NAME,LAST WEEK RANK,WEEKS ON BOARD
0,As It Was,1,Harry Styles,1,14
1,About Damn Time,3,Lizzo,2,12
2,First Class,2,Jack Harlow,1,13
3,Running Up That Hill (A Deal With God),6,Kate Bush,4,26
4,Wait For U,4,Future Featuring Drake & Tems,1,10
...,...,...,...,...,...
95,Best Thing Since Backroads,-,Jake Owen,96,1
96,U-Digg,82,"Lil Baby, 42 Dugg & Veeze",52,3
97,Unstoppable,-,Sia,98,1
98,Rich Minion,-,Yeat,99,1
99,Bad Habit,-,Steve Lacy,100,1

# 7. Scrape the details of Data science recruiters from naukri.com. 

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

In [194]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/recruiters/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys('Data Science')
search_btn=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

#Creating emepty list
Name=[]
Designation=[]
Company=[]
Skills_they_hire=[]
Location=[]

#Scraping Name 
name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i  in name:
    Name.append(i.text)
    
#Scraping Designation 
designation=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i  in designation:
    Designation.append(i.text)    
    
#Scraping Company 
company=driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i  in company:
    Company.append(i.text)   
    
    
#Scraping Skills_they_hire 
skills_they_hire=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i  in skills_they_hire:
    Skills_they_hire.append(i.text)
    

    
#Scraping Location 
location=driver.find_elements_by_xpath("//p[@class='highlightable']/span[2]")
for i  in location:
    if i.text is None:
        
        Location.append('--')
    else:
        Location.append(i.text)
        
Recruiters=pd.DataFrame({})
Recruiters['NAME']= Name[0:48]
Recruiters['DESIGNATION']= Designation[0:48]
Recruiters['COMPANY']=Company[0:48]
Recruiters['SKILLS THEY HIRE']= Skills_they_hire[0:48]
Recruiters['LOCATION']= Location[0:48]
Recruiters

,NAME,DESIGNATION,COMPANY,SKILLS THEY HIRE,LOCATION
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

# 8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [195]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

# Scraping Book_name
book_name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book_name:
    if i.text is None:
        Book_name.append('--')
    else:
        Book_name.append(i.text)
        
# Scraping Author_name
author_name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author_name:
    if i.text is None:
        Author_name.append('--')
    else:
        Author_name.append(i.text)
        
# Scraping Volumes_sold
volumes_sold=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volumes_sold:
    if i.text is None:
        Volumes_sold.append('--')
    else:
        Volumes_sold.append(i.text)
        
# Scraping Author_name
publisher=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    if i.text is None:
        Publisher.append('--')
    else:
        Publisher.append(i.text)
        
# Scraping Genre
genre=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    if i.text is None:
        Genre.append('--')
    else:
        Genre.append(i.text)

Highest_selling_novels=pd.DataFrame({})
Highest_selling_novels['BOOK NAME']=Book_name
Highest_selling_novels['AUTHOR NAME']=Author_name
Highest_selling_novels['VOLUMES SOLD']=Volumes_sold
Highest_selling_novels['PUBLISHER']=Publisher
Highest_selling_novels['GENRE']=Genre
Highest_selling_novels

,BOOK NAME,AUTHOR NAME,VOLUMES SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [196]:
driver=webdriver.Chrome("chromedriver.exe") 
url ="https://www.imdb.com/list/ls095964455/"
driver.get(url)
driver.maximize_window()

# Creating empty list
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

#Scraping Name
name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
    
#Scraping Year_span
year_span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
for i in year_span:
    Year_span.append(i.text)

    
#Scraping Genre
genre=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in genre:
    Genre.append(i.text)
    
    
#Scraping Run_time
run_time=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in run_time:
    Run_time.append(i.text)
    
#Scraping Ratings
ratings=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")
for i in ratings:
    Ratings.append(i.text)
    
#Scraping Votes
votes=driver.find_elements_by_xpath("//p[@class='text-muted text-small'][3]/span[2]")
for i in votes:
    Votes.append(i.text)
    
Most_watched_tv_series=pd.DataFrame({})
Most_watched_tv_series['NAME']=Name
Most_watched_tv_series['YEAR SPAN']=Year_span
Most_watched_tv_series['GENRE']=Genre
Most_watched_tv_series['RUN TIME']=Run_time
Most_watched_tv_series['RATINGS']=Ratings
Most_watched_tv_series['VOTES']=Votes
Most_watched_tv_series

,NAME,YEAR SPAN,GENRE,RUN TIME,RATINGS,VOTES
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,009,218"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,089,697"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"955,067"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"285,517"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"245,180"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,092"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,891"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"192,223"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,588"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"231,202"

# 10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

In [199]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

view_dataste= driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
view_dataste.click()
time.sleep(4)

# creating empty lists for scraping data
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

#scraping Dataset name
data_name= driver.find_elements_by_xpath("//p[@class='normal']/b/a[1]")
for i in data_name:
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)

time.sleep(4)        
#Scraping data Type
data_type=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]/p")
for i in data_type[1:]:
    if i.text is None :
        Data_type.append("--") 
    else:
        Data_type.append(i.text)

time.sleep(4) 
#Scraping Task
task=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]/p")
for i in task[1:]:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
        
time.sleep(4) 
#Scraping Attribute_type
attribute_type=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]/p")
for i in attribute_type[1:]:
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)

time.sleep(4)         
#Scraping No_of_instances
no_of_instances=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]/p")
for i in no_of_instances[1:]:
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)

time.sleep(4)         
#Scraping No_of_attribute
no_of_attribute=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]/p")
for i in no_of_attribute[1:]:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)

time.sleep(4) 
#Scraping Year
year=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]/p")
for i in year[1:]:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)
        
Datasets=pd.DataFrame({})
Datasets['DATASET NAMES']= Dataset_name
Datasets['DATA TYPE']= Data_type
Datasets['TASK']= Task
Datasets['ATTRIBUTE TYPE']= Attribute_type
Datasets['NO OF INSTANCES']= No_of_instances
Datasets['NO OF ATTRIBUTE']= No_of_attribute
Datasets['YEAR']= Year
Datasets

,DATASET NAMES,DATA TYPE,TASK,ATTRIBUTE TYPE,NO OF INSTANCES,NO OF ATTRIBUTE,YEAR
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021