# 1.Write a python program to display all the header tags from wikipedia.org.

In [31]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Here we checked respone found ok 
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")
page 

# Here we get page content of all webpage
soup = BeautifulSoup(page.content)
soup

header_tags = []# empty list for store the L
for i in soup.find_all("span",class_="mw-headline"):
    header_tags.append(i.text)
header_tags

# Crearing the dataframe
df=pd.DataFrame({'HEADER TAGS':header_tags})
df.index +=1
df

                     HEADER TAGS
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

# 2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://www.imdb.com/chart/top/')
page   #checked web page response range
soup = BeautifulSoup(page.content)
soup

movie_titles = []# empty list for store the 
for i in soup.find_all('td',class_="titleColumn"):
    movie_titles.append(i.text.replace('\n',''))
movie_titles

movie_ratings = []# empty list for store the 
for i in soup.find_all('strong'):
    movie_ratings.append(i.text)
movie_ratings

year_relese = []# empty list for store the 
for i in soup.find_all('span',class_="secondaryInfo"):
    year_relese.append(i.text)
year_relese

df3=pd.DataFrame({'MOVIE RATINGS':movie_ratings,'YEAR OF RELESE':year_relese})# Creating the dataFrame 
df3
df1=pd.DataFrame({'TITLES':movie_titles})#Here movie titles made dataframe due to remove unwanted characteristics from movie_titles
df1
df1=df1['TITLES'].str.extract(r'([A-Za-z]+(?: [A-Za-z]+)*)')#Here removed unwanted characteristics from movie_titles 
df1
df2 = df1.set_axis(['TITLES'], axis=1, inplace=False)#Here changed the header after removed  characteristics from movie_titles 
df2
df4=df2.join(df3)# after joins the dataframe2 to dataframe3 +
df4              # the out put got 
df5=df4.iloc[:100]
df5.index +=1 # Here the final DataFrame output shows
df5

                                TITLES MOVIE RATINGS YEAR OF RELESE
1             The Shawshank Redemption           9.2         (1994)
2                        The Godfather           9.2         (1972)
3                      The Dark Knight           9.0         (2008)
4                        The Godfather           9.0         (1974)
5                            Angry Men           8.9         (1957)
..                                 ...           ...            ...
96                              Jagten           8.3         (2012)
97   Everything Everywhere All at Once           8.3         (2022)
98                                   M           8.3         (1931)
99                  North by Northwest           8.3         (1959)
100                            Vertigo           8.2         (1958)

[100 rows x 3 columns]

# 3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [52]:
from bs4 import BeautifulSoup
import requests as reqs
import pandas as pd
from itertools import chain
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page
soup = BeautifulSoup(page.content)
soup     #checked web page response range

movie_titles = []# empty list for store the 
for i in soup.find_all('td',class_="titleColumn"):
    movie_titles.append(i.text.strip())
    
movie_titles

movie_ratings=[]# empty list for store the 
for i in soup.find_all('strong'):
    movie_ratings.append(i.text)

movie_ratings

year_relese = []# empty list for store the 
for i in soup.find_all('span',class_="secondaryInfo"):
    year_relese.append(i.text)

year_relese

df3=pd.DataFrame({'MOVIE RATINGS':movie_ratings,'YEAR OF RELESE':year_relese})
df3

df1=pd.DataFrame({'TITLES':movie_titles})#Here movie titles made dataframe due to remove unwanted characteristics from movie_titles
df1
df1=df1['TITLES'].str.extract(r'([A-Za-z]+(?: [A-Za-z]+)*)')#Here removed unwanted characteristics from movie_titles 
df1
df2 = df1.set_axis(['TITLES'], axis=1, inplace=False)#Here changed the header after removed  characteristics from movie_titles 
df2
df4=df2.join(df3)# after joins the dataframe2 to dataframe3 
df4              # the out put got 
df5=df4.iloc[:100]
df5.index+=1
df5          # Here the final DataFrame output shows

                      TITLES MOVIE RATINGS YEAR OF RELESE
1                   Jai Bhim           8.4         (2021)
2                 Anbe Sivam           8.4         (2003)
3                    Golmaal           8.4         (1979)
4                    Nayakan           8.4         (1987)
5          Pariyerum Perumal           8.4         (2018)
..                       ...           ...            ...
96                    Masaan           8.0         (2015)
97            Dil Chahta Hai           8.0         (2001)
98                   Kahaani           8.0         (2012)
99   Maheshinte Prathikaaram           8.0         (2016)
100                Baahubali           8.0         (2017)

[100 rows x 3 columns]

# 4.Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page    # Here we checked respone found ok
soup = BeautifulSoup(page.content)
soup

presidents_name = []# empty list for store the 
for i in soup.find_all('h3'):
    presidents_name.append(i.text.replace('values',''))
    
presidents_name
term_office = []# empty list for store the 
for i in soup.find_all('p'):
    term_office.append(i.text)
    
term_office
#creating the dataframe 
df=pd.DataFrame({'TERM OF OFFICE':term_office})
df

df1 = df.drop(df.index[[1, 3,5,16,17,18]])# Here we dropout the unwanted in term of office 
df1
df1 = df1.reset_index(drop=True)# index reset done due to dataframe joining purpose 
df1
#creating the dataframe
df2=pd.DataFrame({'PRESIDENTS NAME':presidents_name})
df2

df3=df2.join(df1)#here joins the two dataframe
df3.index +=1
df3 # The final dataframe shows

,PRESIDENTS NAME,TERM OF OFFICE
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

# a.Top 10 ODI teams in men’s cricket along with the records for matches, points and rating1

In [64]:
from bs4 import BeautifulSoup # Here improted necessary libraries 
import requests
import pandas as pd

def ODI_TEAMS(url):
    teams=[]
    matches=[]
    points=[]
    ratings=[]
    odi_team_page=requests.get(url)
    odi_team_soup=BeautifulSoup(odi_team_page.content,'html.parser')
    
    odi_team=odi_team_soup.find_all('span',class_='u-hide-phablet')
    for i in odi_team:
        teams.append(i.text)
    teams=teams[:10]
    
    # here table showing diffrent and seperatly so extratcing required content
    # both are seperalty extracted 
    
    match_row1=odi_team_soup.find_all('td',class_='rankings-block__banner--matches')
    
    for i in match_row1:
        matches.append(i.text)

               
    # another row 
    match_row2=odi_team_soup.find_all('td',class_='table-body__cell u-center-text')
    for i in range(0,len(match_row2),2):
        matches.append(match_row2[i].text)
    matches=matches[:10]
    
    
    # the point also top and other rows is in diffrent 
    odi_point1=odi_team_soup.find_all('td',class_='rankings-block__banner--points')
    
    for i in odi_point1:
        points.append(i.text)
        
    # here the another table points 
    odi_point2=odi_team_soup.find_all('td',class_='table-body__cell u-center-text')
    for i in range(1,len(match_row2),2):
        points.append(odi_point2[i].text)
        points=points[:10]
    
    # the ratings also top and other rows is in diffrent 
    odi_rating=odi_team_soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
    for i in odi_rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    
    # here the another table ratings
    odi_rating=odi_team_soup.find_all('td',class_='table-body__cell u-text-right rating')
    for i in odi_rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
        ratings=ratings[:10]
    
    teams_odi=pd.DataFrame({})
    teams_odi['TEAMS']=teams
    teams_odi['MATCHS']=matches
    teams_odi['POINTS']=points
    teams_odi['RATINGS']=ratings
    return(teams_odi)

ODI_TEAM_MEN=ODI_TEAMS('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
ODI_TEAM_MEN.index+=1
ODI_TEAM_MEN
 # The final DataFrame shows

           TEAMS MATCHS POINTS RATINGS
1    New Zealand     12  1,505     125
2        England     19  2,353     124
3      Australia     18  1,929     107
4          India     22  2,304     105
5       Pakistan     16  1,635     102
6   South Africa     19  1,872      99
7     Bangladesh     24  2,275      95
8      Sri Lanka     24  2,086      87
9    West Indies     26  1,885      73
10   Afghanistan     15    986      66

# b.Top 10 ODI Batsmen along with the records of their team and rating.

In [65]:
from bs4 import BeautifulSoup # Here improted necessary libraries
import requests
import pandas as pd

def ODI_BATSMEN(url):
    players=[]
    teams=[]
    ratings=[]
    batsmen_page=requests.get(url)
    batsmen_soup=BeautifulSoup(batsmen_page.content,'html.parser')
    
    # here taken first row from table 
    odi_player=batsmen_soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in odi_player:
        players.append(i.text)
    
    # Another row table
    odi_player=batsmen_soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in odi_player:
        players.append(i.find('a').text)
    players=players[:10]
    
    # here taken first row from table 
    odi_team=batsmen_soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
        
      # Another row table
    odi_team=batsmen_soup.find_all('span',class_='table-body__logo-text')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
    teams=teams[:10]
    
    # First Row of the table# here taken first row from table 
    odi_rating=batsmen_soup.find_all('div',class_='rankings-block__banner--rating')
    for i in odi_rating:
        ratings.append(i.text)
        
    # Another row table
    odi_rating=batsmen_soup.find_all('td',class_='table-body__cell rating')
    for i in odi_rating:
        ratings.append(i.text)
    ratings=ratings[:10]
    
    batsmen_odi=pd.DataFrame({})
    batsmen_odi['PLAYERS']=players
    batsmen_odi['TEAMS']=teams
    batsmen_odi['RATINGS']=ratings
    return(batsmen_odi)


TOP_ODI_BATSMEN=ODI_BATSMEN('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
TOP_ODI_BATSMEN.index+=1
TOP_ODI_BATSMEN   # The final DataFrame shows

                  PLAYERS TEAMS RATINGS
1              Babar Azam   PAK     891
2             Virat Kohli   IND     811
3             Imam-ul-Haq   PAK     795
4            Rohit Sharma   IND     791
5         Quinton de Kock    SA     789
6          Jonny Bairstow   ENG     775
7             Ross Taylor    NZ     775
8   Rassie van der Dussen    SA     769
9            David Warner   AUS     750
10            Aaron Finch   AUS     745

# c.Top 10 ODI bowlers along with the records of their team and rating.

In [66]:
from bs4 import BeautifulSoup # Here improted necessary libraries
import requests
import pandas as pd

def ODI_BOWLER(url):
    players=[]
    teams=[]
    ratings=[]
    bowler_page=requests.get(url)
    bowler_soup=BeautifulSoup(bowler_page.content,'html.parser')
    
    # here taken first row from table 
    odi_player=bowler_soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in odi_player:
        players.append(i.text)
    
    # Another row table
    odi_player=bowler_soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in odi_player:
        players.append(i.find('a').text)
    players=players[:10]
    
    # here taken first row from table 
    odi_team=bowler_soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
        
    #  Another row table
    odi_team=bowler_soup.find_all('span',class_='table-body__logo-text')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
    teams=teams[:10]
    
    # here taken first row from table 
    odi_rating=bowler_soup.find_all('div',class_='rankings-block__banner--rating')
    for i in odi_rating:
        ratings.append(i.text)
        
    #  Another row table
    odi_rating=bowler_soup.find_all('td',class_='table-body__cell rating')
    for i in odi_rating:
        ratings.append(i.text)
    ratings=ratings[:10]
    
    bowler_odi=pd.DataFrame({})
    bowler_odi['PLAYERS']=players
    bowler_odi['TEAMS']=teams
    bowler_odi['RATINGS']=ratings
    return(bowler_odi)

TOP_ODI_BOWLER=ODI_BOWLER('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
TOP_ODI_BOWLER.index+=1
TOP_ODI_BOWLER  # The final DataFrame shows

             PLAYERS TEAMS RATINGS
1        Trent Boult    NZ     726
2       Chris Woakes   ENG     700
3     Josh Hazlewood   AUS     698
4         Matt Henry    NZ     683
5   Mujeeb Ur Rahman   AFG     681
6     Jasprit Bumrah   IND     679
7     Shaheen Afridi   PAK     671
8       Mehedi Hasan   BAN     661
9    Shakib Al Hasan   BAN     657
10       Rashid Khan   AFG     650

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [78]:
from bs4 import BeautifulSoup # Here improted necessary libraries
import requests
import pandas as pd

def ODI_WOMEN_TEAM(url):
    teams=[]
    matches=[]
    points=[]
    ratings=[]
    odi_team_page=requests.get(url)
    odi_team_soup=BeautifulSoup(odi_team_page.content,'html.parser')
    
    odi_team=odi_team_soup.find_all('span',class_='u-hide-phablet')
    for i in odi_team:
        teams.append(i.text)
    teams=teams[:10]
    
     # here table showing diffrent and seperatly so extratcing required content
     # both are seperalty extracted 
    match_row1=odi_team_soup.find_all('td',class_='rankings-block__banner--matches')
    for i in match_row1:
        matches.append(i.text)

               
    # another rows table
    match_row2=odi_team_soup.find_all('td',class_='table-body__cell u-center-text')
    for i in range(0,len(match_row2),2):
        matches.append(match_row2[i].text)
    matches=matches[:10]

    # here the ponts also in diffrent format and another table also 
    odi_point1=odi_team_soup.find_all('td',class_='rankings-block__banner--points')
    for i in odi_point1:
        points.append(i.text)
        
    odi_point2=odi_team_soup.find_all('td',class_='table-body__cell u-center-text')
    for i in range(1,len(match_row2),2):
        points.append(odi_point2[i].text)
    points=points[:10]
    
    odi_rating=odi_team_soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
    for i in odi_rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    
    odi_rating=odi_team_soup.find_all('td',class_='table-body__cell u-text-right rating')
    for i in odi_rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    ratings=ratings[:10]
    
    
    
    teams_odi=pd.DataFrame({})
    teams_odi['TEAMS']=teams
    teams_odi['MATCHS']=matches
    teams_odi['POINTS']=points
    teams_odi['RATINGS']=ratings
    return(teams_odi)
ODI_TEAM_WOMEN=ODI_WOMEN_TEAM('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
ODI_TEAM_WOMEN.index+=1
ODI_TEAM_WOMEN   # The final DataFrame shows

           TEAMS MATCHS POINTS RATINGS
1      Australia     29  4,837     167
2   South Africa     29  3,551     122
3        England     30  3,531     118
4          India     29  2,889     100
5    New Zealand     31  3,019      97
6    West Indies     30  2,768      92
7     Bangladesh     12    930      78
8       Pakistan     28  1,882      67
9      Sri Lanka      6    249      42
10      Zimbabwe      8      0       0

# b.Top 10 women’s ODI Batting players along with the records of their team and rating.

In [89]:
from bs4 import BeautifulSoup # Here improted necessary libraries
import requests
import pandas as pd

def ODI_WOMEN_PLAYER(url):
    players=[]
    teams=[]
    ratings=[]
    batsmen_page=requests.get(url)
    batsmen_soup=BeautifulSoup(batsmen_page.content,'html.parser')
    
    # here taken first row from table
    odi_player=batsmen_soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in odi_player:
        players.append(i.text)
    
    
    # Another row table
    odi_player=batsmen_soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in odi_player:
        players.append(i.find('a').text)
    players=players[:10]
    
    # here taken first row from table
    odi_team=batsmen_soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
        
    # Another row table
    odi_team=batsmen_soup.find_all('span',class_='table-body__logo-text')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
    teams=teams[:10]
    
    # here taken first row from table
    odi_rating=batsmen_soup.find_all('div',class_='rankings-block__banner--rating')
    for i in odi_rating:
        ratings.append(i.text)
        
   # Another row table
    odi_rating=batsmen_soup.find_all('td',class_='table-body__cell rating')
    for i in odi_rating:
        ratings.append(i.text)
    ratings=ratings[:10]
    
    
    
    batsmen_odi=pd.DataFrame({})
    batsmen_odi['PLAYERS']=players
    batsmen_odi['TEAMS']=teams
    batsmen_odi['RATINGS']=ratings
    return(batsmen_odi)
TOP_ODI_BATSMEN=ODI_WOMEN_PLAYER('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
TOP_ODI_BATSMEN.index+=1
TOP_ODI_BATSMEN   # The final DataFrame shows

              PLAYERS TEAMS RATINGS
1        Alyssa Healy   AUS     785
2      Natalie Sciver   ENG     750
3         Beth Mooney   AUS     748
4     Laura Wolvaardt    SA     722
5         Meg Lanning   AUS     710
6      Rachael Haynes   AUS     701
7         Mithali Raj   IND     686
8   Amy Satterthwaite    NZ     681
9     Smriti Mandhana   IND     669
10     Tammy Beaumont   ENG     659

# c.Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [88]:
from bs4 import BeautifulSoup # Here improted necessary libraries
import requests
import pandas as pd

def ODI_WOMEN_ALLROUNDER_PLAYER(url):
    players=[]
    teams=[]
    ratings=[]
    bowler_page=requests.get(url)
    bowler_soup=BeautifulSoup(bowler_page.content,'html.parser')
    
   # here taken first row from table
    odi_player=bowler_soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in odi_player:
        players.append(i.text)
    
     # Another row table
    odi_player=bowler_soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in odi_player:
        players.append(i.find('a').text)
    players=players[:10]
    
    # here taken first row from table
    odi_team=bowler_soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
        
      # Another row table
    odi_team=bowler_soup.find_all('span',class_='table-body__logo-text')
    for i in odi_team:
        teams.append(i.text.replace('\n',''))
    teams=teams[:10]
    
    # here taken first row from table
    odi_rating=bowler_soup.find_all('div',class_='rankings-block__banner--rating')
    for i in odi_rating:
        ratings.append(i.text)
        
     # Another row table
    odi_rating=bowler_soup.find_all('td',class_='table-body__cell rating')
    for i in odi_rating:
        ratings.append(i.text)
    ratings=ratings[:10]
    
    
    
    bowler_odi=pd.DataFrame({})
    bowler_odi['PLAYERS']=players
    bowler_odi['TEAMS']=teams
    bowler_odi['RATINGS']=ratings
    return(bowler_odi)
ODI_WOMEN_ALLROUNDER_PLAYER=ODI_WOMEN_ALLROUNDER_PLAYER('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
ODI_WOMEN_ALLROUNDER_PLAYER.index+=1
ODI_WOMEN_ALLROUNDER_PLAYER  # The final DataFrame shows

             PLAYERS TEAMS RATINGS
1     Natalie Sciver   ENG     393
2       Ellyse Perry   AUS     374
3     Marizanne Kapp    SA     359
4    Hayley Matthews    WI     338
5        Amelia Kerr    NZ     335
6   Ashleigh Gardner   AUS     269
7      Deepti Sharma   IND     249
8      Jess Jonassen   AUS     245
9    Katherine Brunt   ENG     221
10    Jhulan Goswami   IND     217

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline
ii) Time
iii) News Link

In [87]:
from bs4 import BeautifulSoup   # Here improted necessary libraries
import requests
import pandas as pd

page = requests.get('https://www.cnbc.com/world/?region=world')
page 
soup = BeautifulSoup(page.content)
soup

# scrape data for latest news headline
news = []
for i in soup.find_all("a",class_="LatestNews-headline"):
    news.append(i.text.replace('\n',''))

# scrape data for time of headline
time = []
for i in soup.find_all("time",class_="LatestNews-timestamp"):
    time.append(i.text.replace('\n',''))

# scrape data for news link
link = []
for i in soup.find_all("a",class_="LatestNews-headline"):
    link.append(i['href'])
    
# display news | time | news link
for val in range(0,len(news)):
    print(val+1,news[val],'|',time[val],'\n',link[val],'\n')
db_news = pd.DataFrame({'NEWS TITLE':news,'TIME':time,'NEWS LINK':link})# Creating the dataframe 
db_news.index +=1
db_news      # The final DataFrame shows

1 How Russia could try to get around the European Union's oil sanctions | 55 Min Ago
 https://www.cnbc.com/2022/06/02/how-russia-could-try-to-get-around-the-european-unions-oil-sanctions.html

2 First time on a yacht? Avoid these 7 amateur mistakes  | 2 Hours Ago
 https://www.cnbc.com/2022/06/02/first-time-on-a-yacht-avoid-these-7-amateur-mistakes-.html

3 Oil slides after report Saudi Arabia could step up if Russian output dips under ban | 3 Hours Ago
 https://www.cnbc.com/2022/06/02/oil-prices-eu-sanctions-russia-saudi-arabia-output-opec.html

4 Solana suffered its second outage in a month, sending price plunging | 4 Hours Ago
 https://www.cnbc.com/2022/06/01/solana-suffered-its-second-outage-in-a-month-sending-price-plunging.html

5 Goldman names its top battery stock to play rising demand for electric vehicles  | 4 Hours Ago
 https://www.cnbc.com/2022/06/02/goldman-sachs-top-battery-stock-as-demand-for-electric-vehicles-rises.html

6 'Fallen angels': Morgan Stanley says buy the dip on these 5 global stocks | 5 Hours Ago
 https://www.cnbc.com/2022/06/02/morgan-stanley-says-buy-the-dip-on-these-5-global-stocks.html

7 Self-driving car companies' first step to making money isn't robotaxis | 5 Hours Ago
 https://www.cnbc.com/2022/06/02/self-driving-car-companies-first-step-to-making-money-isnt-robotaxis.html

8 Javier Olivan, who's replacing Sandberg at Meta, built his career on global growth | 5 Hours Ago
 https://www.cnbc.com/2022/06/01/javier-olivan-metas-new-coo-built-his-career-on-global-growth.html

9 Sandberg was Facebook's adult, but it's always been a Zuckerberg production | 6 Hours Ago
 https://www.cnbc.com/2022/06/01/sheryl-sandberg-was-adult-in-room-of-zuckerberg-production-at-facebook.html

10 Hong Kong's Hang Seng index leads losses in Asia; oil prices drop close to 2% | 6 Hours Ago
 https://www.cnbc.com/2022/06/02/asia-markets-australia-april-trade-data-currencies-oil.html

11 Cramer's lightning round: I like P&G over Olaplex | 7 Hours Ago
 https://www.cnbc.com/2022/06/01/cramers-lightning-round-i-like-pg-over-olaplex.html

12 Biden administration will cancel student debt for half a million students   | 7 Hours Ago
 https://www.cnbc.com/2022/06/01/biden-administration-will-cancel-student-debt-for-half-a-million-students-from-corinthian-colleges-.html

13 Jim Cramer likes this alternative energy play for a high inflation environment | 7 Hours Ago
 https://www.cnbc.com/2022/06/01/cramer-the-alternative-energy-atlantica-sustainable-infrastructure-high-inflation-environment.html

14 Jim Cramer says investors should consider 3 things before buying a stock | 7 Hours Ago
 https://www.cnbc.com/2022/06/01/cramer-says-investors-should-consider-3-things-before-buying-a-stock.html

15 Stock futures fall slightly as investors dwell on health of the economy | 8 Hours Ago
 https://www.cnbc.com/2022/06/01/stock-futures-are-little-changed-as-investors-dwell-on-health-of-the-economy.html

16 Best trades on CNBC Wednesday: Safety stocks and Salesforce earnings reaction | 8 Hours Ago
 https://www.cnbc.com/2022/06/01/best-trades-on-cnbc-wednesday-safety-stocks-for-market-uncertainty.html

17 Reckitt says it's ready to import 21 million bottles of baby formula with FDA OK | 8 Hours Ago
 https://www.cnbc.com/2022/06/01/reckitt-baby-formula-plants-can-produce-21-million-bottles-for-us.html

18 Why Meta drop on Sandberg's exit is a good chance to snap up shares | 9 Hours Ago
 https://www.cnbc.com/2022/06/01/why-drop-in-meta-on-sandbergs-exit-is-a-good-chance-to-snap-up-shares.html

19 Stocks making the biggest moves after hours: Chewy, MongoDB and more | 9 Hours Ago
 https://www.cnbc.com/2022/06/01/stocks-making-the-biggest-moves-after-hours-chewy-gamestop-and-more.html

20 Tough new sanctions on Russia could change the OPEC+ dynamic  | 9 Hours Ago
 https://www.cnbc.com/2022/06/01/tough-new-sanctions-on-russian-oil-could-change-the-opec-dynamic.html

21 These 'dividend aristocrats' offer returns amid uncertainty, Credit Suisse says  | 9 Hours Ago
 https://www.cnbc.com/2022/06/01/these-dividend-aristocrats-offer-steady-returns-in-an-uncertain-market-credit-suisse-says-.html

22 GameStop reports $158 million loss and decline in hardware sales | 9 Hours Ago
 https://www.cnbc.com/2022/06/01/gamestop-gme-earnings-q1-2022.html

23 Despite high-profile staff cuts, job market remains ‘burning hot’ for workers | 9 Hours Ago
 https://www.cnbc.com/2022/06/01/job-market-remains-burning-hot-for-workers-in-latest-jolts-report.html

24 Facebook parent Meta COO Sheryl Sandberg is stepping down | 10 Hours Ago
 https://www.cnbc.com/2022/06/01/facebook-coo-sheryl-sandberg-says-she-is-stepping-down.html

25 These are JPMorgan's favorite stocks heading into June | 10 Hours Ago
 https://www.cnbc.com/2022/06/01/these-are-jpmorgans-favorite-stocks-heading-into-june.html

26 Sweeping water restrictions begin in Southern California as drought worsens | 10 Hours Ago
 https://www.cnbc.com/2022/06/01/southern-california-water-restrictions-start-today-amid-drought.html

27 Former OpenSea employee charged in first-ever NFT insider trading case | 11 Hours Ago
 https://www.cnbc.com/2022/06/01/former-opensea-employee-charged-in-first-ever-nft-insider-trading-case.html

28 Here's what's in Biden's $700 million military aid package for Ukraine | 11 Hours Ago
 https://www.cnbc.com/2022/06/01/heres-whats-in-bidens-700-million-military-aid-package-for-ukraine.html

29 Dialogue alone won't get more women into tech, says fintech CEO—here's what will | 11 Hours Ago
 https://www.cnbc.com/2022/06/01/fintech-ceo-dialogue-is-not-enough-to-get-more-women-into-tech.html

30 Fed report sees 'slight or modest' economic growth as inflation surges | 11 Hours Ago
 https://www.cnbc.com/2022/06/01/fed-report-sees-slight-or-modest-economic-growth-as-inflation-surges.html

,NEWS TITLE,TIME,NEWS LINK
1,How Russia could try to get around the Europea...,55 Min Ago,https://www.cnbc.com/2022/06/02/how-russia-cou...
2,First time on a yacht? Avoid these 7 amateur m...,2 Hours Ago,https://www.cnbc.com/2022/06/02/first-time-on-...
3,Oil slides after report Saudi Arabia could ste...,3 Hours Ago,https://www.cnbc.com/2022/06/02/oil-prices-eu-...
4,"Solana suffered its second outage in a month, ...",4 Hours Ago,https://www.cnbc.com/2022/06/01/solana-suffere...
5,Goldman names its top battery stock to play ri...,4 Hours Ago,https://www.cnbc.com/2022/06/02/goldman-sachs-...
6,'Fallen angels': Morgan Stanley says buy the d...,5 Hours Ago,https://www.cnbc.com/2022/06/02/morgan-stanley...
7,Self-driving car companies' first step to maki...,5 Hours Ago,https://www.cnbc.com/2022/06/02/self-driving-c...
8,"Javier Olivan, who's replacing Sandberg at Met...",5 Hours Ago,https://www.cnbc.com/2022/06/01/javier-olivan-...
9,"Sandberg was Facebook's adult, but it's always...",6 Hours Ago,https://www.cnbc.com/2022/06/01/sheryl-sandber...
10,Hong Kong's Hang Seng index leads losses in As...,6 Hours Ago,https://www.cnbc.com/2022/06/02/asia-markets-a...
11,Cramer's lightning round: I like P&G over Olaplex,7 Hours Ago,https://www.cnbc.com/2022/06/01/cramers-lightn...
12,Biden administration will cancel student debt ...,7 Hours Ago,https://www.cnbc.com/2022/06/01/biden-administ...
13,Jim Cramer likes this alternative energy play ...,7 Hours Ago,https://www.cnbc.com/2022/06/01/cramer-the-alt...
14,Jim Cramer says investors should consider 3 th...,7 Hours Ago,https://www.cnbc.com/2022/06/01/cramer-says-in...
15,Stock futures fall slightly as investors dwell...,8 Hours Ago,https://www.cnbc.com/2022/06/01/stock-futures-...
16,Best trades on CNBC Wednesday: Safety stocks a...,8 Hours Ago,https://www.cnbc.com/2022/06/01/best-trades-on...
17,Reckitt says it's ready to import 21 million b...,8 Hours Ago,https://www.cnbc.com/2022/06/01/reckitt-baby-f...
18,Why Meta drop on Sandberg's exit is a good cha...,9 Hours Ago,https://www.cnbc.com/2022/06/01/why-drop-in-me...
19,Stocks making the biggest moves after hours: C...,9 Hours Ago,https://www.cnbc.com/2022/06/01/stocks-making-...
20,Tough new sanctions on Russia could change the...,9 Hours Ago,https://www.cnbc.com/2022/06/01/tough-new-sanc...
21,These 'dividend aristocrats' offer returns ami...,9 Hours Ago,https://www.cnbc.com/2022/06/01/these-dividend...
22,GameStop reports $158 million loss and decline...,9 Hours Ago,https://www.cnbc.com/2022/06/01/gamestop-gme-e...
23,"Despite high-profile staff cuts, job market re...",9 Hours Ago,https://www.cnbc.com/2022/06/01/job-market-rem...
24,Facebook parent Meta COO Sheryl Sandberg is st...,10 Hours Ago,https://www.cnbc.com/2022/06/01/facebook-coo-s...
25,These are JPMorgan's favorite stocks heading i...,10 Hours Ago,https://www.cnbc.com/2022/06/01/these-are-jpmo...
26,Sweeping water restrictions begin in Southern ...,10 Hours Ago,https://www.cnbc.com/2022/06/01/southern-calif...
27,Former OpenSea employee charged in first-ever ...,11 Hours Ago,https://www.cnbc.com/2022/06/01/former-opensea...
28,Here's what's in Biden's $700 million military...,11 Hours Ago,https://www.cnbc.com/2022/06/01/heres-whats-in...
29,"Dialogue alone won't get more women into tech,...",11 Hours Ago,https://www.cnbc.com/2022/06/01/fintech-ceo-di...
30,Fed report sees 'slight or modest' economic gr...,11 Hours Ago,https://www.cnbc.com/2022/06/01/fed-report-see...

# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

Scrape below mentioned details :
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [90]:
from bs4 import BeautifulSoup # Here improted necessary libraries
import requests
import pandas as pd

page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page #checked web page response range

soup = BeautifulSoup(page.content)
soup

paper_title = []# empty list for store the 
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
     paper_title.append(i.text)
    
paper_title

authors = []# empty list for store the 
for i in soup.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
     authors.append(i.text)
    
authors 

published_date = []# empty list for store the 
for i in soup.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
     published_date.append(i.text)
    
published_date

links = []
for link in soup.findAll('a'):
    links.append(link.get('href'))

links

df=pd.DataFrame({'LINKS':links})# Here links dataframe done due to removing the unwanted links
df
v=df.iloc[48:] # unwanted links are removed from links
v
df2=v.iloc[:25]   # unwanted links are removed from links
df2
df2 = df2.reset_index(drop=True)#Here index of the link made reset starts from 0
df2
df1=pd.DataFrame({'PAPER TITLE':paper_title,'AUTHORS':authors,'PUBLISHED DATE':published_date })
df1
df3=df1.join(df2)# after joins the dataframe1 to dataframe2 the final dataframe
df3.index +=1
df3    # The final DataFrame shows

,PAPER TITLE,AUTHORS,PUBLISHED DATE,LINKS
1,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
2,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
3,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
4,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
5,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
6,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
7,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
8,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
9,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
10,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
11,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
12,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
13,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
14,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
15,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
16,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
17,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
19,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
20,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
21,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
22,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
23,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
24,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
25,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [115]:
from bs4 import BeautifulSoup # Here improted necessary libraries
import requests
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
  
def DINE_OUT(x):

#   requesting the url
    page= requests.get(x)

    soup=BeautifulSoup(page.content)
    
# empty list to store data
    cusine=[]
    name=[]
    location=[]
    rating=[]
    z=[]
    rank=[]
    
#      fetching the required data

    for i in soup.find_all('img',class_="no-img"):
        z.append(i['data-src'])
        
    for i in soup.find_all('div',class_="restnt-loc ellipsis"):
        location.append(i.text)
        
    for i in soup.find_all('a',class_="restnt-name ellipsis"):
        name.append(i.text.split()) 
    
    for l in soup.find_all('span',class_="double-line-ellipsis"):
        cusine.append(l.text.split("|"))
    

    for l in soup.find_all('div',class_="restnt-rating rating-4"):
        rating.append(l.text)
            
    for k in range(1,len(name)+1):
        rank.append(k)
            
    
#     creating the dataframe
    DATA=pd.DataFrame({"S.No":rank,"Retaurant":name,"Cusine":cusine,"Location":location,"Rating":rating,"image":z})
    DATA.set_index('S.No',inplace =True)

    # display the data
    return DATA
DINE_OUT('https://www.dineout.co.in/delhi-restaurants/buffet-special')  # The final DataFrame shows

,Retaurant,Cusine,Location,Rating,image
S.No,,,,,
1,"[Castle, Barbeque]","[₹ 2,000 for 2 (approx) , North Indian, Chinese]","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
2,"[Jungle, Jamboree]","[₹ 1,400 for 2 (approx) , North Indian, Asian...","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"[Castle, Barbeque]","[₹ 2,000 for 2 (approx) , Chinese, North Indian]","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,"[Cafe, Knosh]","[₹ 3,000 for 2 (approx) , Italian, Continental]","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
5,"[The, Barbeque, Company]","[₹ 1,700 for 2 (approx) , North Indian, Chinese]","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
6,"[India, Grill]","[₹ 2,400 for 2 (approx) , North Indian, Italian]","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
7,"[Delhi, Barbeque]","[₹ 1,800 for 2 (approx) , North Indian]","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
8,"[The, Monarch, -, Bar, Be, Que, Village]","[₹ 1,900 for 2 (approx) , North Indian]","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
9,"[World, Cafe]","[₹ 2,400 for 2 (approx) , North Indian, Italian]","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
10,"[Indian, Grill, Room]","[₹ 2,200 for 2 (approx) , North Indian, Mughlai]","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
11,"[Mad, 4, Bar, B, Que]","[₹ 800 for 2 (approx) , North Indian]","Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
12,"[Barbeque, 29]","[₹ 1,500 for 2 (approx) , North Indian, Mughl...","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
13,[Glasshouse],"[₹ 3,400 for 2 (approx) , European, Italian, ...","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en

i) Rank
ii) Publication
iii) h5-index
iv) h5-median

In [116]:
from bs4 import BeautifulSoup # Here improted necessary libraries
import requests
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
  

def PUBLICATION(x):

#   requesting the url
    page= requests.get(x)

    soup=BeautifulSoup(page.content)
    
# empty list to store data
    rank=[]
    publication=[]
    h5_index=[]
    h5_median=[]
    obj=[]

#     fetching the required data

    for i in soup.find_all('td',class_="gsc_mvt_t"):
        publication.append(i.text)
        
    for i in soup.find_all('td',class_="gsc_mvt_p"):
        rank.append(i.text)
        
    for i in soup.find_all('a',class_="gs_ibl gsc_mp_anchor"):
        h5_index.append(i.text)
    
    for i in soup.find_all('span',class_="gs_ibl gsc_mp_anchor"):
        h5_median.append(i.text)
    
    import pandas as pd
#     creating a dataframe
    DATA=pd.DataFrame({"RANK":rank,"PUBLICATION":publication,"H5-INDEX":h5_index,"H5-MEDIAN":h5_median})
    
    DATA.set_index('RANK',inplace =True)
    

    
#     display the data
    return DATA

PUBLICATION('https://scholar.google.com/citations?view_op=top_venues&hl=en')# The final DataFrame shows

                                            PUBLICATION H5-INDEX H5-MEDIAN
RANK
1.                                               Nature      414       607
2.                  The New England Journal of Medicine      410       704
3.                                              Science      391       564
4.    IEEE/CVF Conference on Computer Vision and Pat...      356       583
5.                                           The Lancet      345       600
...                                                 ...      ...       ...
96.                             Frontiers in Immunology      134       177
97.                                               Small      134       173
98.                                   Nature Immunology      133       210
99.                                       JAMA Oncology      133       202
100.                               The Lancet Neurology      133       200

[100 rows x 3 columns]