# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You

* have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
  jobs data.

In [117]:
# Lets now import all the required libraries
import selenium   # library that is used to work woth selenium
import pandas as pd # to create datafrme
from selenium import webdriver #importing webdriver module from selenium to open up 
import warnings # to ignore any sort of warning 
warnings.filterwarnings('ignore')
import time   # use to stop search engine for few seconds

# Let's first connect to the web driver 
driver = webdriver.Chrome(r"C:\Users\DELL\Desktop\data trained new\fliprobo chrome driver\chromedriver.exe")

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

#  finding element for job search bar
search_field_loc=driver.find_element_by_class_name("suggestor-input")#job search bar
search_field_loc.send_keys("Data Analyst")
# here we use to select the location
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_field_location.send_keys("Bangalore") 

#clicking the search button 
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

job_titles=[]# creating empty list for store 
company_names=[]# creating empty list for store 
locations_list=[]# creating empty list for store 
experience_list=[]# creating empty list for store 

#lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10] #using range to print only top 10 results

for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]


companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10] #using range to print only top 10 results

for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags[0:10] #using range to print only top 10 results


for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]#using range to print only top 10 results



locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10] #using range to print only top 10 results


for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]


# creating the dataframe
jobs=pd.DataFrame({})
jobs['JOB TITELS']=job_titles[0:10]
jobs['COMPANY NAME']=company_names[0:10]
jobs['EXPERIENCE_REQUIRED']=experience_list[0:10]
jobs['LOCATION']=locations_list[0:10]
jobs.index+=1
jobs

,JOB TITELS,COMPANY NAME,EXPERIENCE_REQUIRED,LOCATION
1,Business Data Analyst,NXP Semiconductors,2-5 Yrs,Bangalore/Bengaluru
2,EY GDS Data Analyst-Finland based project,EY,0-1 Yrs,Bangalore/Bengaluru
3,Data Analyst - Data and Analytics,Intel,3-6 Yrs,Bangalore/Bengaluru
4,Data Analyst (CSD),Siemens,2-6 Yrs,Bangalore/Bengaluru
5,"Data Analyst - Data Science, 3 To 5 Years",Rise Finconnect Private Limited,2-6 Yrs,Bangalore/Bengaluru
6,Data Analyst / Business Analyst,METRO Cash & Carry,3-8 Yrs,Bangalore/Bengaluru
7,SAS/SQL - Healthcare Data Analyst - Bangalore,Genpact,7-10 Yrs,Bangalore/Bengaluru
8,Business & Data Analyst - Alteryx (London),Imaginative Brains LLP,5-10 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
9,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
10,"Data analyst / Data scientist, AVP",Deutsche Bank,6-11 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
 * have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
   This task will be done in following steps:

In [118]:
# Lets now import all the required libraries
import selenium   # library that is used to work woth selenium
import pandas as pd # to create datafrme
from selenium import webdriver #importing webdriver module from selenium to open up 
import warnings # to ignore any sort of warning 
warnings.filterwarnings('ignore')
import time   # use to stop search engine for few seconds

# Let's first connect to the web driver 
driver = webdriver.Chrome(r"C:\Users\DELL\Desktop\data trained new\fliprobo chrome driver\chromedriver.exe")

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

#  finding element for job search bar
search_field_loc=driver.find_element_by_class_name("suggestor-input")#job search bar
search_field_loc.send_keys("Data Scientist")

search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_field_location.send_keys("Bangalore") 

#clicking the search button 
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

#lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10] #using range to print only top 10 results

for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]


companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10] #using range to print only top 10 results

for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags[0:10] #using range to print only top 10 results


for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]#using range to print only top 10 results

locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10] #using range to print only top 10 results


for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

driver.close()

# creating the dataframe
jobs=pd.DataFrame({})
jobs['JOB TITELS']=job_titles[0:10]
jobs['COMPANY NAME']=company_names[0:10]
jobs['EXPERIENCE REQUIRED']=experience_list[0:10]
jobs['LOCATION']=locations_list[0:10]
jobs.index+=1
jobs

,JOB TITELS,COMPANY NAME,EXPERIENCE REQUIRED,LOCATION
1,Data Science - Engineering Manager,Paytm,9-13 Yrs,"Noida, Mumbai, Bangalore/Bengaluru"
2,AI Technologist Vacancy,Wipro,6-11 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
3,Job Opening with Wipro For Data Scientist posi...,Wipro,2-7 Yrs,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
4,DATA Scientist with Fraud Analytics Experience,Concentrix Daksh Services,2-4 Yrs,Bangalore/Bengaluru
5,Data Scientist,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
6,Data Scientist,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
7,Data Scientist,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
8,Data Scientist,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
9,Data Scientist,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
10,Data Scientist,Applied Materials,7-10 Yrs,Bangalore/Bengaluru

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        
* You have to use the location and salary filter.
* You have to scrape data for “Data Scientist” designation for first 10 job results.
* You have to scrape the job-title, job-location, company name, experience required.
* The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [120]:
# Lets now import all the required libraries
import selenium   # library that is used to work woth selenium
import pandas as pd # to create datafrme
from selenium import webdriver #importing webdriver module from selenium to open up 
import warnings # to ignore any sort of warning 
warnings.filterwarnings('ignore')
import time   # use to stop search engine for few seconds

# Let's first connect to the web driver 
driver = webdriver.Chrome(r"C:\Users\DELL\Desktop\data trained new\fliprobo chrome driver\chromedriver.exe")

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

#  finding element for job search bar
search_field_loc=driver.find_element_by_class_name("suggestor-input")#job search bar
search_field_loc.send_keys("Data Scientist")

#clicking the search button 
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

more_button=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[5]/a')
more_button.click() # used to in filter to open the more in location 
select_button=driver.find_element_by_xpath('//*[@id="tooltip"]/div[2]/div[3]/label/p/span[1]')
select_button.click() # Here we used to selecting the Delhi/NCR
time.sleep(5)

more_button=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[5]/a/span')
more_button.click()# used to in filter to open the more in salary
select_button=driver.find_element_by_xpath('//*[@id="tooltip"]/div[2]/div[2]/label/p/span[1]')
select_button.click()# Here we used to selecting 3.6laks package 
time.sleep(5)

job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

#lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10] #using range to print only top 10 results

for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]


companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10] #using range to print only top 10 results

for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags[0:10] #using range to print only top 10 results


for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]#using range to print only top 10 results

locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10] #using range to print only top 10 results

for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

driver.close()

# creating the dataframe
jobs=pd.DataFrame({})
jobs['JOB TITELS']=job_titles[0:10]
jobs['COMPANY NAME']=company_names[0:10]
jobs['EXPERIENCE REQUIRED']=experience_list[0:10]
jobs['LOCATION']=locations_list[0:10]
jobs.index+=1
jobs

,JOB TITELS,COMPANY NAME,EXPERIENCE REQUIRED,LOCATION
1,Job Opening with Wipro For Data Scientist posi...,Wipro,2-7 Yrs,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
2,Data Scientist - Machine learning AI,Teq Analytics,3-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
3,Data Scientist -Machine Learning with Python,Genpact,1-4 Yrs,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR"
4,Data Scientist,SS Supply Chain Solutions Pvt. Ltd. (3SC),2-5 Yrs,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru"
5,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
6,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
7,Data Scientist - Predictive Analytics,Confidential,1-6 Yrs,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera..."
8,Data Scientist - Internet Jobs - II,Jobs Territory,3-6 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
9,Machine Learning Engineer | Data Engineer | Da...,Tidyquant (OPC) Private Limited,1-3 Yrs,"Chennai, Bangalore/Bengaluru, Delhi / NCR(Sect..."
10,Dot Net Developer,Nibha Infotech Private Limited,3-8 Yrs,"Gurgaon/Gurugram, Delhi / NCR"

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
* The attributes which you have to scrape is ticked marked in the below image.
To scrape

In [122]:
# Lets now import all the required libraries
import selenium   # library that is used to work woth selenium
import pandas as pd # to create datafrme
from selenium import webdriver #importing webdriver module from selenium to open up 
import warnings # to ignore any sort of warning 
warnings.filterwarnings('ignore')
import time   # use to stop search engine for few seconds


# Let's first connect to the web driver 
driver = webdriver.Chrome(r"C:\Users\DELL\Desktop\data trained new\fliprobo chrome driver\chromedriver.exe")

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)


#opening up flipkart.com website on automated chrome window
driver.get('https://www.flipkart.com/')

# if its asked email and phone number lets exit from that 
exit_button=driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
exit_button.click()
time.sleep(2)

#  finding element for job search bar
search_field_loc=driver.find_element_by_class_name("_3704LK")#job search bar
search_field_loc.send_keys("sunglasses")

#clicking the search button 
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()
time.sleep(3)

Product_Brands=[] # creating empty list to store the Brands
Product_Prices=[] # creating empty list to store the prices 
Product_Descriptions=[] # creating empty list to store the Descriptions 

for i in range (0,3): # running for loop using range this is runs 3 times
    Brands=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")# locating web element of title
    for i in Brands: # iterating over each web element of title 
        Brand=i.text         # featching the text from web element
        Product_Brands.append(Brand)# appending data(text)into the empty list
    next_button=driver.find_element_by_xpath("//html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()# locationg web element of next button and then clicking on the next button
    time.sleep(8)  # using time to pause the search enginer for 8 sec
Product_Brands[0:100]

for i in range (0,3): # running for loop using range this is runs 3 times
    Prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# locating web element of title
    for i in  Prices: # iterating over each web element of title 
        Price=i.text        # featching the text from web element
        Product_Prices.append(Price)# appending data(text)into the empty list
    next_button=driver.find_element_by_xpath("//html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()# locationg web element of next button and then clicking on the next button
    time.sleep(8)  # using time to pause the search enginer for 8 sec
Product_Prices[0:100]


for i in range (0,3): # running for loop using range this is runs 3 times
    Descriptions=driver.find_elements_by_xpath("//a[@class='IRpwTa']")# locating web element of title
    for i in  Descriptions: # iterating over each web element of title 
        Description=i.text        # featching the text from web element
        Product_Descriptions.append(Description)# appending data(text)into the empty list
    next_button=driver.find_element_by_xpath("//html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()# locationg web element of next button and then clicking on the next button
    time.sleep(8)  # using time to pause the search enginer for 8 sec
Product_Descriptions[0:100]

driver.close()

# creating the dataframe
sunglasses=pd.DataFrame({})
sunglasses['BRANDS']=Product_Brands[0:100]
sunglasses['PRODUCT DESCRIPTIONS']=Product_Descriptions[0:100]
sunglasses['PRICES']=Product_Prices[0:100]
sunglasses.index+=1
sunglasses

            BRANDS                               PRODUCT DESCRIPTIONS   PRICES
1       LIZA ANGEL        UV Protection Oval, Aviator Sunglasses (60)   ₹1,909
2    VINCENT CHASE  Polarized, UV Protection Sports Sunglasses (Fr...     ₹525
3               Mi               Polarized Clubmaster Sunglasses (51)     ₹236
4             SRPM  UV Protection, Riding Glasses Aviator Sunglass...     ₹415
5        Elligator  UV Protection, Gradient Butterfly Sunglasses (62)     ₹359
..             ...                                                ...      ...
96       ROYAL SON        UV Protection Oval, Aviator Sunglasses (59)     ₹415
97          AISLIN   UV Protection, Gradient Wayfarer Sunglasses (57)   ₹1,007
98       Rich Club  UV Protection, Polarized Rectangular Sunglasse...  ₹13,199
99          GANSTA  UV Protection, Polarized Wrap-around, Sports S...     ₹335
100      ROYAL SON  UV Protection Retro Square Sunglasses (Free Size)     ₹354

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
* This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.

In [125]:
# Lets now import all the required libraries
import selenium   # library that is used to work woth selenium
import pandas as pd # to create datafrme
from selenium import webdriver #importing webdriver module from selenium to open up 
import warnings # to ignore any sort of warning 
warnings.filterwarnings('ignore')
import time   # use to stop search engine for few seconds


#Let's call the Function Definition

def iphone_100_review(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    rating=[]
    review_summary=[]
    full_review=[]
    
    # Let's scrape the data
    j=0
    while j<10:
    
        ratings=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for i in ratings:
            rating.append(i.text)
        
        reviews=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for i in reviews:
            review_summary.append(i.text)
        
        full_reviews=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for i in full_reviews:
            full_review.append(i.text)
        time.sleep(10)    
        
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        time.sleep(10)
        j+=1
        time.sleep(10)

    # Let's create a DataFrame for our data
    iphone_review=pd.DataFrame({})
    iphone_review['Rating']=rating
    iphone_review['Review Summary']=review_summary
    iphone_review['Full Reviews']=full_review
    return iphone_review

In [126]:
# Let's call the Calling Function

iphone_100_review('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace')

,Rating,Review Summary,Full Reviews
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Best in the market!,Great iPhone very snappy experience as apple k...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Highly recommended,What a camera .....just awesome ..you can feel...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,4,Good choice,So far it’s been an AMAZING experience coming ...
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
* As shown in the below image, you have to scrape the tick marked attributes.

In [128]:
# Lets now import all the required libraries
import selenium   # library that is used to work woth selenium
import pandas as pd # to create datafrme
from selenium import webdriver #importing webdriver module from selenium to open up 
import warnings # to ignore any sort of warning 
warnings.filterwarnings('ignore')
import time   # use to stop search engine for few seconds


# Let's first connect to the web driver 
driver = webdriver.Chrome(r"C:\Users\DELL\Desktop\data trained new\fliprobo chrome driver\chromedriver.exe")

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)


#opening up flipkart.com website on automated chrome window
driver.get('https://www.flipkart.com/')

# if its asked email and phone number lets exit from that 
exit_button=driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
exit_button.click()
time.sleep(2)

#  finding element for job search bar
search_field_loc=driver.find_element_by_class_name("_3704LK")#job search bar
search_field_loc.send_keys("sneakers")

#clicking the search button 
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()
time.sleep(3)

Product_Brands=[] # creating empty list to store the Brands
for i in range (0,3): # running for loop using range this is runs 3 times
    Brands=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")# locating web element of title
    for i in Brands: # iterating over each web element of title 
        Brand=i.text         # featching the text from web element
        Product_Brands.append(Brand)# appending data(text)into the empty list
    next_button=driver.find_element_by_xpath("//html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()# locationg web element of next button and then clicking on the next button
    time.sleep(5)  # using time to pause the search enginer for 5 sec
Product_Brands[0:100]

Product_Prices=[] # creating empty list to store the prices 

for i in range (0,3): # running for loop using range this is runs 3 times
    Prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# locating web element of title
    for i in  Prices: # iterating over each web element of title 
        Price=i.text        # featching the text from web element
        Product_Prices.append(Price)# appending data(text)into the empty list
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()# locationg web element of next button and then clicking on the next button
    time.sleep(8)  # using time to pause the search enginer for 8 sec
Product_Prices[0:100]

Product_Descriptions=[] # creating empty list to store the Descriptions 

for i in range (0,4): # running for loop using range this is runs 3 times
    Descriptions=driver.find_elements_by_xpath("//a[@class='IRpwTa']")# locating web element of title
    for i in  Descriptions: # iterating over each web element of title 
        Description=i.text        # featching the text from web element
        Product_Descriptions.append(Description)# appending data(text)into the empty list
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()# locationg web element of next button and then clicking on the next button
    time.sleep(8)  # using time to pause the search enginer for 8 sec
Product_Descriptions[0:100]

Product_Offers=[]# creating empty list to store the Descriptions

for i in range (0,3): # running for loop using range this is runs 3 times
    Offers=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")# locating web element of title
    for i in  Offers: # iterating over each web element of title 
        Offer=i.text        # featching the text from web element
        Product_Offers.append(Offer)# appending data(text)into the empty list
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()# locationg web element of next button and then clicking on the next button
    time.sleep(8)  # using time to pause the search enginer for 8 sec
Product_Offers[0:100]

driver.close()

# creating the dataframe
sneakers=pd.DataFrame({})
sneakers['BRANDS']=Product_Brands[0:100]
sneakers['PRODUCT DESCRIPTIONS']=Product_Descriptions[0:100]
sneakers['PRICES']=Product_Prices[0:100]
sneakers['PRODUCT OFFERS']=Product_Offers[0:100]
sneakers.index+=1
sneakers

,BRANDS,PRODUCT DESCRIPTIONS,PRICES,PRODUCT OFFERS
1,Echor,13 Sneakers For Men,₹399,60% off
2,BRUTON,"Combo Pack of 3 Casual Loafer, Sneakers For Men","₹2,999",62% off
3,BIRDE,Casual sneakers Canvas Outdoor White Shoes For...,"₹1,295",52% off
4,Robbie jones,MARION 2.0 Sneakers For Men,"₹1,007",57% off
5,BRUTON,FUTURE RIDER PLAY ON Sneakers For Men,₹398,59% off
...,...,...,...,...
96,PUMA,Sneakers For Men,₹824,60% off
97,LEE COOPER,Athleisure Sneakers For Men,"₹3,119",68% off
98,Roadster,OP-1 PWRFRAME PRONOUNCE Sneakers For Men,"₹3,499",49% off
99,SPARX,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹699,65% off
100,K- FOOTLANCE,"Monitor Welcro Black School Shoes,Running Shoe...","₹1,169",58% off

# Q7: Go to the link - https://www.myntra.com/shoes
* Set second Price filter and Color filter to “Black”, as shown in the below image.

* And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of * the shoe as shown in the below image.

In [137]:
# Lets import all the required libraries
import selenium   # library that is used to work woth selenium
import pandas as pd # to create datafrme
from selenium import webdriver #importing webdriver module from selenium to open up 
import warnings # to ignore any sort of warning 
warnings.filterwarnings('ignore')
import time   # use to stop search engine for few seconds

# Let's first connect to the web driver 
driver = webdriver.Chrome(r"C:\Users\DELL\Desktop\data trained new\fliprobo chrome driver\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening up myntra.com website on automated chrome window
driver.get('https://www.myntra.com/shoes')
time.sleep(3) # using time to pause the search enginer for 3 sec

# used to click the men at filters
men_selector_button=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[2]/ul/li[1]/label')
men_selector_button.click()
time.sleep(3) # using time to pause the search enginer for 3 sec

# used to click the colour at filters
colour_selector_button=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
colour_selector_button.click()
time.sleep(3) # using time to pause the search enginer for 3 sec

# used to click the requried cost at filters
cost_selector_button=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
cost_selector_button.click()
time.sleep(3) # using time to pause the search enginer for 3 sec

shoe_Brands=[] # creating empty list to store the Brands
for i in range (0,3): # running for loop using range this is runs 3 times
    Brands=driver.find_elements_by_xpath("//h3[@class='product-brand']")# locating web element of title
    for i in Brands: # iterating over each web element of title 
        Brand=i.text         # featching the text from web element
        shoe_Brands.append(Brand)# appending data(text)into the empty list
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[11]/a")
    next_button.click()# locationg web element of next button and then clicking on the next button
    time.sleep(10)  # using time to pause the search enginer for 10 sec
shoe_Brands[0:100]

shortshoe_Descriptions=[] # creating empty list to store the Descriptions 
for i in range (0,6): # running for loop using range this is runs 3 times
    Descriptions=driver.find_elements_by_xpath("//h4[@class='product-product']")# locating web element of title
    for i in  Descriptions: # iterating over each web element of title 
        Description=i.text        # featching the text from web element
        shortshoe_Descriptions.append(Description)# appending data(text)into the empty list
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[11]")
    next_button.click()# locationg web element of next button and then clicking on the next button
    time.sleep(10)  # using time to pause the search enginer for10 sec
shortshoe_Descriptions[0:100]

shoe_Prices=[] # creating empty list to store the prices 
for i in range (0,7): # running for loop using range this is runs 3 times
    Prices=driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")# locating web element of title
    for i in  Prices: # iterating over each web element of title 
        Price=i.text        # featching the text from web element
        shoe_Prices.append(Price)# appending data(text)into the empty list
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[11]")
    next_button.click()# locationg web element of next button and then clicking on the next button
    time.sleep(10)  # using time to pause the search enginer for10 sec
shoe_Prices[0:100]

driver.close()

# creating the dataframe
shoes=pd.DataFrame({})
shoes['BRAND OF SHOES']=shoe_Brands[0:100]
shoes['SHORT SHOE DESCRIPTIONS']=shortshoe_Descriptions[0:100]
shoes['PRICE OF THE SHOE']=shoe_Prices[0:100]
shoes.index+=1
shoes

,BRAND OF SHOES,SHORT SHOE DESCRIPTIONS,PRICE OF THE SHOE
1,UNDER ARMOUR,Men Solid Leather Formal Monk Shoes,Rs. 8399
2,Puma,Men Leather Loafers,Rs. 7699
3,UNDER ARMOUR,Men Leather Formal Loafers,Rs. 7693
4,Puma,Men Leather Loafers,Rs. 7699
5,Puma,Men Formal Loafers,Rs. 9799
...,...,...,...
96,Nike,Men Ozweego Zip Sneakers,Rs. 12316
97,Puma,Men Solid Leather Formal Oxfords,Rs. 8399
98,ASICS,Men Textured Leather Driving Shoes,Rs. 7699
99,KIPRUN By Decathlon,Men Textured Leather Loafers,Rs. 7693
100,Clarks,Men Basketball Shoes,Rs. 7699

# Q8: Go to webpage https://www.amazon.in/
* Enter “Laptop” in the search field and then click the search icon.
* Then set CPU Type filter to “Intel Core i7” as shown in the below image:
* After

In [138]:
# Lets now import all the required libraries
import selenium   # library that is used to work woth selenium
import pandas as pd # to create datafrme
from selenium import webdriver #importing webdriver module from selenium to open up 
import warnings # to ignore any sort of warning 
warnings.filterwarnings('ignore')
import time   # use to stop search engine for few seconds

# Let's first connect to the web driver 
driver = webdriver.Chrome(r"C:\Users\DELL\Desktop\data trained new\fliprobo chrome driver\chromedriver.exe")

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening up amazon.com website on automated chrome window
driver.get('https://www.amazon.in/')

#  finding element for job search bar
search_field_loc=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")#job search bar
search_field_loc.send_keys("Laptop")

#clicking the search button 
search_button=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()
time.sleep(3)

search_button=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a')
search_button.click()
time.sleep(3)

laptop_titles=[] # creating empty list to store the Brands
laptop_Ratings=[] # creating empty list to store the Descriptions 
laptop_prices=[] # creating empty list to store the prices 

titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")# locating web element of title
for i in titles: # iterating over each web element of title 
    title=i.text         # featching the text from web element
    laptop_titles.append(title)# appending data(text)into the empty list
laptop_titles[0:10]

Ratings=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']")# locating web element of title
for i in Ratings: # iterating over each web element of title 
    Rating=i.text        # featching the text from web element
    laptop_Ratings.append(Rating)# appending data(text)into the empty list
laptop_Ratings[0:10]

prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")# locating web element of title
for i in  prices: # iterating over each web element of title 
    price=i.text        # featching the text from web element
    laptop_prices.append(price)# appending data(text)into the empty list
laptop_prices[0:10]

driver.close()

# creating the dataframe
laptops=pd.DataFrame({})
laptops['LAPTOP TITLES']=laptop_titles[0:10]
laptops['LAPTOP RATINGS']=laptop_Ratings[0:10]
laptops['LAPTOP PRICES']=laptop_prices[0:10]
laptops.index+=1
laptops

,LAPTOP TITLES,LAPTOP RATINGS,LAPTOP PRICES
1,LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...,136,"86,990"
2,LG Gram 17 Intel Evo 11th Gen i7 Thin & Light ...,162,"88,490"
3,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,11,"79,990"
4,Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...,7,"75,309"
5,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",118,"57,490"
6,LG Gram 17 Intel Evo 11th Gen i7 Thin & Light ...,162,"88,490"
7,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,6,"84,990"
8,ASUS Vivobook X515JA-EJ701WS Intel Core I7-106...,10,"57,290"
9,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",16,"89,990"
10,ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...,18,"92,990"

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida  location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
 * This task will be done in following steps:

In [157]:
# Lets now import all the required libraries
import selenium   # library that is used to work woth selenium
import pandas as pd # to create datafrme
from selenium import webdriver #importing webdriver module from selenium to open up 
import warnings # to ignore any sort of warning 
warnings.filterwarnings('ignore')
import time   # use to stop search engine for few seconds

# Let's first connect to the web driver 
driver = webdriver.Chrome(r"C:\Users\DELL\Desktop\data trained new\fliprobo chrome driver\chromedriver.exe")

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening up ambition.com website on automated chrome window
driver.get('https://www.ambitionbox.com/')

#  use to select jobs in the web site 
select_job=driver.find_element_by_xpath("//*[@id='headerWrapper']/nav/nav/a[6]")#job search bar
select_job.click()


#  finding element for job search bar
search_field_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")#job search bar
search_field_loc.send_keys("Data Scientist")

# after enter the keys thn used to search button 
search_button=driver.find_element_by_xpath("//*[@id='jobs']/div[2]/div[1]/div[1]/div/div/div/button")#job search bar
search_button.click()
time.sleep(5)

# used to location selection 
select_location=driver.find_element_by_xpath("//*[@id='filters-row']/div/div/div[2]")
select_location.click()
time.sleep(3)

# used to here entring in the location 
search_field_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")#job search bar
search_field_loc.send_keys("Noida")
time.sleep(3)

# after entring then select the location 
select_location=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
select_location.click()
time.sleep(3)

company_names=[] # creating empty list to store the Brands
comany_Ratings=[] # creating empty list to store the Descriptions 
job_posted =[] # creating empty list to store the prices 

companies=driver.find_elements_by_xpath("//p[@class='company body-medium']")# locating web element of title
for i in companies: # iterating over each web element of title 
    company=i.text         # featching the text from web element
    company_names.append(company)# appending data(text)into the empty list
company_names

Ratings=driver.find_elements_by_xpath("//span[@class='body-small']")# locating web element of title
for i in Ratings: # iterating over each web element of title 
    Rating=i.text        # featching the text from web element
    comany_Ratings.append(Rating)# appending data(text)into the empty list
comany_Ratings

job_posts=driver.find_elements_by_xpath("//span[@class='body-small-l']")# locating web element of title
for i in job_posts: # iterating over each web element of title 
    job_post=i.text        # featching the text from web element
    job_posted.append(job_post)# appending data(text)into the empty list
job_posts[0:10]# here only collacting the ten job posts in that 

driver.close()

# creating the dataframe
jobs=pd.DataFrame({})
jobs['COMPANY NAMES']=company_names
jobs['COMPANIES RATING']=comany_Ratings
jobs['JOB POSTED HISTORY']=job_posts[0:10]
jobs.index+=1
jobs

,COMPANY NAMES,COMPANIES RATING,JOB POSTED HISTORY
1,GENPACT India Private Limited,4.0,<selenium.webdriver.remote.webelement.WebEleme...
2,Optum Global Solutions (India) Private Limited,4.2,<selenium.webdriver.remote.webelement.WebEleme...
3,GENPACT India Private Limited,4.0,<selenium.webdriver.remote.webelement.WebEleme...
4,Hcl Technologies Limited,3.9,<selenium.webdriver.remote.webelement.WebEleme...
5,EXL Services.com ( I ) Pvt. Ltd.,3.9,<selenium.webdriver.remote.webelement.WebEleme...
6,Paytm,3.7,<selenium.webdriver.remote.webelement.WebEleme...
7,Om Software Internet Solutions Private Limited,4.5,<selenium.webdriver.remote.webelement.WebEleme...
8,Paytm,3.7,<selenium.webdriver.remote.webelement.WebEleme...
9,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3.3,<selenium.webdriver.remote.webelement.WebEleme...
10,Ashkom Media India Private Limited,3.5,<selenium.webdriver.remote.webelement.WebEleme...

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
* You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [182]:

#importing all the neccessary libraries
import selenium          #library that is used to work with selenium
import numpy as np       #for dealing with arrays
import pandas as pd      #to create dataframe
from selenium import webdriver #importing webdriver module from selenium to openup automated chrome window
import time                    #use to stop search engine for few seconds
import warnings             #to ignore any sort of warnings
from selenium.common.exceptions import WebDriverException
from selenium.webdriver.common.action_chains import ActionChains
warnings.filterwarnings('ignore') #ignore the unnecessary warnings

#Lets first connect to the webdriver
driver=webdriver.Chrome(r"C:\Users\DELL\Desktop\data trained new\fliprobo chrome driver\chromedriver.exe")

#opening up ambition.com website on automated chrome window
driver.get('https://www.ambitionbox.com/')
driver.maximize_window()
driver.find_element_by_xpath("//a[@class='link salaries']").click()  #searching for salary based jobs
time.sleep(2)
driver.find_element_by_xpath("//input[@class='tt-input']").send_keys("Data Scientist")  #Searching for data scientist jobs

#Scraping Details
comp_names=[]
avg_sal=[]
min_sal=[]
exp_req=[]

comp=driver.find_elements_by_xpath("//div[@class='name']")  #For scraping company names and total salary records
for i in comp:
    comp_names.append(i.text)

avg=driver.find_elements_by_xpath("//p[@class='averageCtc']")  #For scraping average salary
for i in avg:
    avg_sal.append(i.text)
Min=driver.find_elements_by_xpath("//div[@class='salary-values']")  #For scraping minimum and maximum salaries
for i in Min:
    min_sal.append(i.text)
exp=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']") #For scraping experience
for i in exp:
    exp_req.append(i.text)
    
names=pd.DataFrame(comp_names,columns=['names'])
sal=pd.DataFrame(min_sal,columns=['sal'])
salary=sal['sal'].str.split('\n',expand=True)
salary.columns=['MINIMUM SALARY','MAXIMUM SALARY']
name=names['names'].str.split('\n',expand=True)
name.columns=['COMPANY NAMES','TOTAL SALARY RECORD']
ex=pd.DataFrame(exp_req,columns=['exp'])
years=ex['exp'].str.split('\n',expand=True)
year=years.loc[: ,2]
year.columns=["Experience"]
average=pd.DataFrame(avg_sal,columns=['AVERAGE SALARY'])
Ambition=pd.concat([name,year,average,salary],axis=1)
Ambition.index+=1
Ambition

,COMPANY NAMES,TOTAL SALARY RECORD,2,AVERAGE SALARY,MINIMUM SALARY,MAXIMUM SALARY
1,Google,based on 33 salaries,1-3 yrs exp,₹ 31.8L,₹ 11.0L,₹ 65.0L
2,Microsoft Corporation,based on 271 salaries,1-4 yrs exp,₹ 23.9L,₹ 13.0L,₹ 45.0L
3,Goldman Sachs,based on 18 salaries,2 yrs exp,₹ 23.0L,₹ 12.0L,₹ 34.0L
4,Tekion,based on 33 salaries,2-4 yrs exp,₹ 21.1L,₹ 12.0L,₹ 33.0L
5,Amazon,based on 119 salaries,1-4 yrs exp,₹ 20.9L,₹ 8.0L,₹ 45.0L
6,Flipkart,based on 63 salaries,1-4 yrs exp,₹ 20.6L,₹ 7.5L,₹ 31.0L
7,Servicenow Software Development India,based on 56 salaries,2-4 yrs exp,₹ 20.4L,₹ 13.0L,₹ 28.0L
8,PayPal,based on 28 salaries,1-2 yrs exp,₹ 20.1L,₹ 12.0L,₹ 31.0L
9,Walmart,based on 85 salaries,1-4 yrs exp,₹ 19.9L,₹ 11.4L,₹ 32.5L
10,Arcesium,based on 56 salaries,1-2 yrs exp,₹ 19.3L,₹ 12.0L,₹ 34.0L